* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: #222;
}

.App {
    padding: 55px 70px;
}

.app-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 30px 70px;
    border: 3px solid #fff;
    border-radius: 15px;
}